footer.footer
	.footer__locate
		.wrapper
			h5.title__large Varaukset ja tiedustelut
			.footer__btns
				a(href="tel:+358 40 707 5783").footer__btn.mod_blue
					i.fa.fa-phone
					|+358 40 707 5783
				a(href="" target="_blank").footer__btn
					i.fa.fa-paper-plane
					| Lähetä viesti
			.footer__location
				address.footer__address
					i.fa.fa-map-marker
					span Markkulanraitti 24, 42520 Asunta
				a(href="").detail_link Katso sijainti kartalla
					i.fa.fa-angle-double-right
	.footer__text
		.wrapper
			.footer__text_content
				h5.footer__text_heading Vieraskirjasta lainattua:
				q.footer__text_quotes Mukava viikko takana täällä huippumökillä. Lämmintä on tänä kesänä riittänyt mökkiviikolle. <br> Vesi on ollut +23 C, eli onpahan tullut uitua monta kertaa päivässä. On käyty myös kokeilemassa uutta frisbeegolfrataa. Ensi kesänä taas uudelleen.
				a(href="").detail_link Lue lisää asiakkaiden kokemuksia
					i.fa.fa-angle-double-right

	.footer__copy
		p © 2014 Huvilaranta  |  Internetsivut Spym Oy