@charset "UTF-8";
html { box-sizing: border-box; font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; text-size-adjust: 100%; height: 100%; }

*, *:before, *:after { box-sizing: inherit; }

body { -webkit-font-smoothing: grayscale; -moz-osx-font-smoothing: grayscale; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; height: 100%; margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; margin: 0; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; -webkit-tap-highlight-color: transparent; }

a:active, a:hover, a:focus { outline: 0; }

button { cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

button:active, button:hover, button:focus { outline: 0; }

img { border: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

i, em, dfn { font-style: italic; }

blockquote { margin: 1em 40px; }

mark { background: #ff0; color: #000; }

p { margin: 0 0 1em; }
p:last-child { margin-bottom: 0; }

address { font-style: normal; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

ol, ul, menu { margin: 1em 0; padding: 0; }

hr { box-sizing: content-box; height: 0; }

ul { list-style-position: inside; }

li { list-style: none; }

dd { margin: 0 0 0 40px; }

fieldset { background: none; border: none; }

form, fieldset, input, select, textarea, button { margin: 0; padding: 0; }

input, select, textarea, button { font: 12px Arial, Helvetica, sans-serif; vertical-align: baseline; }

button, input { line-height: normal; }

button { overflow: visible; vertical-align: top; }

button::-moz-focus-inner { padding: 0; border: none; }

button, input[type="submit"], input[type="button"] { cursor: pointer; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

legend { border: 0; padding: 0; }

optgroup { font-weight: bold; }

/*--iOS appearance input-- */
input, textarea, select { border-radius: 0; }
@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-sepa:before { content: ""; }

.icon-skrill:before { content: ""; }

@font-face { font-family: "cedarville-cursive-webfont"; src: url("../font/cedarville-cursive-webfont.woff2") format("woff2"), url("../font/cedarville-cursive-webfont.woff") format("woff"), url("../font/cedarville-cursive-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "opensans-bold-webfont"; src: url("../font/opensans-bold-webfont.woff2") format("woff2"), url("../font/opensans-bold-webfont.woff") format("woff"), url("../font/opensans-bold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "opensans-italic-webfont"; src: url("../font/opensans-italic-webfont.woff2") format("woff2"), url("../font/opensans-italic-webfont.woff") format("woff"), url("../font/opensans-italic-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "opensans-regular-webfont"; src: url("../font/opensans-regular-webfont.woff2") format("woff2"), url("../font/opensans-regular-webfont.woff") format("woff"), url("../font/opensans-regular-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "opensans-semibold-webfont"; src: url("../font/opensans-semibold-webfont.woff2") format("woff2"), url("../font/opensans-semibold-webfont.woff") format("woff"), url("../font/opensans-semibold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "sourcesanspro-bold-webfont"; src: url("../font/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../font/sourcesanspro-bold-webfont.woff") format("woff"), url("../font/sourcesanspro-bold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "sourcesanspro-it-webfont"; src: url("../font/sourcesanspro-it-webfont.woff2") format("woff2"), url("../font/sourcesanspro-it-webfont.woff") format("woff"), url("../font/sourcesanspro-it-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "sourcesanspro-regular-webfont"; src: url("../font/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../font/sourcesanspro-regular-webfont.woff") format("woff"), url("../font/sourcesanspro-regular-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "opensans-light-webfont"; src: url("../font/opensans-light-webfont.woff2") format("woff2"), url("../font/opensans-light-webfont.woff") format("woff"), url("../font/opensans-light-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "quattrocentosans-regular-webfont"; src: url("../font/quattrocentosans-regular-webfont.woff2") format("woff2"), url("../font/quattrocentosans-regular-webfont.woff") format("woff"), url("../font/quattrocentosans-regular-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
a { text-decoration: none; outline-style: none; outline: none; }
a:hover { opacity: 0.7; }

body { min-width: 300px; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.22; font-family: "opensans-regular-webfont", Arial, sans-serif; }

.out { position: relative; background-color: #fff; *zoom: 1; }
.out:after { content: " "; display: table; clear: both; }

.wrapper { max-width: 1092px; padding-left: 12px; padding-right: 12px; margin: 0 auto; border-right: 1px solid yellow; border-left: 1px solid yellow; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 0.8em; font-weight: normal; line-height: 1.1; }

h1 { font-size: 2em; }

h2 { font-size: 1.8em; }

h3 { font-size: 1.6em; }

h4 { font-size: 1.5em; }

h5 { font-size: 1.4em; }

h6 { font-size: 1.3em; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -25px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; width: 50px; background: none; left: 0; z-index: 1; background: #644650; opacity: 0.3; -o-transition: 0.4s; transition: 0.4s; }
.slick-prev:hover, .slick-next:hover { background-color: #46323c; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { content: ""; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.slick-next { right: 0; left: auto; }
.slick-next:before { content: ""; display: inline-block; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 24px; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; width: 18px; height: 18px; border-radius: 100%; background-color: #fff; }
.slick-dots li:not(:last-child) { margin-right: 5px; }
.slick-dots li.slick-active button { background: #3b8fb0; }
.slick-dots button { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); display: block; width: 10px; height: 10px; background: #fff; cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; border: none; outline: none; }

.carusel .slick-list { margin-right: -5px; }
.carusel__item.slick-slide { margin-right: 5px; }

.title__large, .title__big, .footer__text_heading, .villa__heading { font-size: 35px; line-height: 28px; color: #82b415; text-align: center; font-family: "sourcesanspro-regular-webfont", Arial, sans-serif; }
.title__big { font-size: 50px; line-height: 0.9; }

.fa-camera-retro { font-size: 50px; color: green; }

.header { position: fixed; background-color: #FFF; top: 0; left: 0; width: 100%; z-index: 50; }
.header__wrapper { max-width: 1092px; padding-left: 12px; padding-right: 12px; margin: 0 auto; border-right: 1px solid yellow; border-left: 1px solid yellow; }
.header__row { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -6px; margin-right: -6px; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 0 15px; }
.header__logo { -webkit-flex: 0 0 280px; -ms-flex: 0 0 280px; flex: 0 0 280px; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; -o-transition: 0.4s; transition: 0.4s; }
.header__logo span { color: #777; font-family: "opensans-light-webfont", Arial, sans-serif; }
.header__toggler { display: none; cursor: pointer; }
.header__toggler.is_active { z-index: 600; }
.header__toggler.is_active:before, .header__toggler.is_active:after { border-color: #fff; }
.header__toggler.is_active:before { border-bottom-color: transparent !important; -webkit-transform-origin: 0 40%; -ms-transform-origin: 0 40%; -o-transform-origin: 0 40%; transform-origin: 0 40%; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.header__toggler.is_active:after { border-top-color: transparent !important; -webkit-transform-origin: 5% 70%; -ms-transform-origin: 5% 70%; -o-transform-origin: 5% 70%; transform-origin: 5% 70%; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.header__menu { -webkit-flex: 0 0 630px; -ms-flex: 0 0 630px; flex: 0 0 630px; }
.header__menu.is_opened { display: block; position: fixed; overflow: hidden; height: 100vh; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0, 0, 0, 0.9); z-index: 300; }
.header__lang { font-size: 0; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: flex-end; -ms-flex-pack: end; justify-content: flex-end; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin-top: 10px; }
.header__lang_item { position: relative; display: inline-block; vertical-align: top; padding: 0 10px; border-right: 1px solid #4083a2; }
.header__lang_item:last-child { padding-right: 0; border: none; }
.header__lang_item.is_active .header__lang_link { cursor: default; font-family: "opensans-bold-webfont", Arial, sans-serif; }
.header__lang_item.is_active .header__lang_link:hover { opacity: 1; }
.header__lang_link { font-size: 13px; letter-spacing: -0.025em; color: #4083a2; line-height: 14px; }
.header__list { font-size: 0; margin: 15px 0 35px; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.header__list_item { vertical-align: top; }
.header__list_link { display: block; font-size: 18px; line-height: 32px; color: #484848; letter-spacing: 0.01em; text-transform: uppercase; border-bottom: 3px solid transparent; font-family: "opensans-regular-webfont", Arial, sans-serif; }
.header__list_link:hover { border-color: #cddde4; opacity: 1; }
.header__list_item.is_active .header__list_link { border-color: #5a8da7; }
.header__bottom { background-color: #82b415; }
.header__tree { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-left: -6px; margin-right: -6px; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; max-width: 100%; }
.header__tree_heading { display: inline-block; color: #fff; line-height: 45px; font-size: 18px; letter-spacing: -0.025em; margin: 0 10px 0 0; font-family: "opensans-semibold-webfont", Arial, sans-serif; }
.header__tree_list { font-size: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; max-width: 100%; }
.header__tree_item { position: relative; display: inline-block; }
.header__tree_item:not(:last-child) { margin-right: 30px; }
.header__tree_item:not(:last-child):after { content: "»"; font-size: 20px; position: absolute; top: 48%; right: -18px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); color: #fff; font-family: "opensans-light-webfont", Arial, sans-serif; }
.header__tree_link { position: relative; display: inline-block; font-size: 18px; letter-spacing: -0.025em; color: #FFF; line-height: 45px; font-family: "opensans-light-webfont", Arial, sans-serif; }
.header__tree_link:not(:last-child) { margin-right: 10px; }
.header__tree_link .fa-angle-double-right { font-size: 20px; color: #fff; margin-left: 10px; }
.header__tree_link:hover { opacity: 1; text-decoration: underline; }
.header__contact { -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; text-align: right; }
.header__contact_link { color: #fff; }
.header__contact_link:not(:last-child) { margin-right: 30px; }
.header__contact_link:hover { -o-transition: 0.4s; transition: 0.4s; }
.header__contact_link .fa { font-size: 20px; margin-right: 6px; }

.footer { text-align: center; background-color: #999; }
.footer__locate { background-color: #fff; padding: 45px 0 55px; }
.footer__btn { display: inline-block; vertical-align: top; width: 300px; height: 62px; border-radius: 6px; text-align: center; line-height: 62px; color: #fff; background-color: #82b415; margin-bottom: 28px; }
.footer__btn:not(:last-child) { margin-right: 24px; }
.footer__btn:hover { opacity: 0.8; }
.footer__btn:active { opacity: 0.8; box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.7), inset 0 0 8px rgba(0, 0, 0, 0.7); }
.footer__btn.mod_blue { background-color: #3b8fb0; }
.footer__address { margin-bottom: 0.8em; }
.footer__address span { font-style: 20px; color: #3f3f3f; }
.footer .fa { font-size: 26px; margin-right: 6px; }
.footer__text { background-color: #e4e4e4; padding: 40px 0 45px; }
.footer__text_content { box-sizing: border-box; margin-left: 6px; margin-right: 6px; word-wrap: break-word; width: calc(83.33333333333334% - 12px); margin: 0 auto; }
.footer__text_heading { font-size: 30px; color: #515151; }
.footer__text_quotes { display: block; font-size: 18px; line-height: 24px; color: #3f3f3f; margin-bottom: 0.9em; font-family: "opensans-italic-webfont", Arial, sans-serif; }
.footer__copy { height: 45px; background-color: #27637a; }
.footer__copy p { line-height: 45px; font-size: 14px; color: #c1dde8; text-transform: uppercase; font-family: "quattrocentosans-regular-webfont", Arial, sans-serif; }

.house { padding: 40px 0 70px; text-align: center; }
.house__header { box-sizing: border-box; margin-left: 6px; margin-right: 6px; word-wrap: break-word; width: calc(87.5% - 12px); margin: 0 auto 55px; }
.house_desc { font-size: 18px; color: #3f3f3f; }
.house__container { display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.house__container.mod_short .villa__heading { position: absolute; top: 15px; left: 0; width: 100%; line-height: 58px; color: #fff; background-color: rgba(130, 180, 21, 0.8); z-index: 5; }
.house__container.mod_short .villa__heading.mod_blue { background-color: rgba(59, 143, 176, 0.8); }
.house__container.mod_short .villa__heading.mod_purpur { background-color: rgba(240, 120, 132, 0.8); }
.house__container.mod_short .villa__comfort { position: absolute; left: 0; width: 100%; bottom: 15px; padding: 0 18px; text-align: right; border-bottom: none; }
.house__container.mod_short .villa__comfort_item { border-radius: 100%; width: 40px; height: 40px; background-color: rgba(255, 255, 255, 0.8); margin-right: 6px; color: #424242; text-align: center; }
.house__container.mod_short .villa__comfort .fa { line-height: 40px; }
.house.mod_details { max-width: 1224px; margin: 10px auto 0; padding-bottom: 0; }

a.villa { -o-transition: 0.4s; transition: 0.4s; }

.villa { position: relative; box-sizing: border-box; margin-left: 6px; margin-right: 6px; word-wrap: break-word; width: calc(33.333333333333336% - 12px); display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start; margin-bottom: 20px; }
.villa__heading { line-height: 32px; width: 100%; }
.villa__heading.mod_blue { color: #3b8fb0; }
.villa__heading.mod_purpur { color: #f07884; }
.villa__heading .fa-angle-double-right { margin-left: 12px; font-size: 28px; }
.villa__figure { margin: 0 auto; height: 240px; width: 100%; position: relative; border-radius: 6px; overflow: hidden; background-color: #ccc; }
.villa__figure_img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); min-height: 100%; min-width: 100%; }
.villa__comfort { width: 100%; padding: 15px; border-bottom: 1px solid #3f3f3f; }
.villa__comfort_list { display: block; font-size: 0; }
.villa__comfort_item { display: inline-block; vertical-align: top; margin: 0 12px; font-size: 22px; color: #3f3f3f; font-family: "opensans-bold-webfont", Arial, sans-serif; }
.villa__comfort_item b { display: inline-block; margin-left: 7px; }
.villa__comfort .fa { font-size: 25px; }
.villa__squre { font-size: 18px; color: #3f3f3f; margin-top: 12px; }
.villa__text { padding: 20px 5px 70px; }
.villa__text p { color: #3f3f3f; }
.villa__btn { position: absolute; bottom: 0; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); display: inline-block; text-align: center; white-space: nowrap; padding: 15px 28px; font-size: 20px; color: #fff; background-color: #3b8fb0; border-radius: 6px; -o-transition: 0.4s; transition: 0.4s; }
.villa__btn:hover { opacity: 0.8; }
.villa__btn:active { opacity: 0.8; box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.7), inset 0 0 8px rgba(0, 0, 0, 0.7); }

.tourist { text-align: center; padding: 40px 0 60px; }
.tourist__desc { font-style: 18px; }
.tourist__gallery { margin-top: 36px; font-size: 0; *zoom: 1; }
.tourist__gallery:after { content: " "; display: table; clear: both; }
.tourist__pic { position: relative; display: inline-block; vertical-align: top; padding-top: 15%; border-radius: 100%; box-sizing: border-box; margin-left: 6px; margin-right: 6px; word-wrap: break-word; width: calc(16.666666666666668% - 12px); overflow: hidden; }
.tourist__pic img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); min-width: 100%; min-height: 100%; }

.banner { position: relative; width: 100%; height: 460px; color: #fff; overflow: hidden; }
.banner.mod_noHeight { height: auto; }
.banner .wrapper { height: 100%; position: relative; }
.banner__bg { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); min-width: 100%; min-height: 100%; }
.banner__box { padding-top: 50px; z-index: 5; }
.banner__content { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-align-items: center; -ms-flex-align: center; align-items: center; padding: 0 15px; }
.banner__text { -webkit-flex: 0 0 500px; -ms-flex: 0 0 500px; flex: 0 0 500px; }
.banner__text.mod_small { -webkit-flex: 0 0 420px; -ms-flex: 0 0 420px; flex: 0 0 420px; }
.banner__text .title__large, .banner__text .title__big, .banner__text .footer__text_heading, .banner__text .villa__heading { text-align: left; color: #fff; }
.banner__figure { margin: 0 10px 0 0; font-size: 0; }
.banner__title { font-size: 18px; left: 30px; color: #fff; font-family: "opensans-bold-webfont", Arial, sans-serif; }
.banner_desc { font-size: 18px; font-family: "opensans-regular-webfont", Arial, sans-serif; }

.detail_link { position: relative; display: inline-block; font-size: 20px; color: #3b8fb0; font-family: "sourcesanspro-bold-webfont", Arial, sans-serif; }
.detail_link:hover { opacity: 0.9; -o-transition: 0.4s; transition: 0.4s; }
.detail_link .fa-angle-double-right { font-size: 0.8em; margin-left: 10px; color: inherit; }
.detail_link.mod_green { color: #b6d96a; }

.see__next .fa-angle-down { margin-left: 10px; font-size: 0.8em; }

.carusel { margin-top: 8px; text-align: center; overflow: hidden; *zoom: 1; }
.carusel:after { content: " "; display: table; clear: both; }
.carusel__item { position: relative; height: 406px; overflow: hidden; *zoom: 1; }
.carusel__item:after { content: " "; display: table; clear: both; }
.carusel__pic { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.carusel__pic img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate3d(-50%, -50%, 0); -ms-transform: translate3d(-50%, -50%, 0); -o-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); min-width: 100%; min-height: 100%; max-width: none; }
.carusel__content { position: absolute; bottom: 74px; left: 50%; width: 100%; -webkit-transform: translate3d(-50%, 0, 0); -ms-transform: translate3d(-50%, 0, 0); -o-transform: translate3d(-50%, 0, 0); transform: translate3d(-50%, 0, 0); z-index: 2; color: #fff; }
.carusel__quote { display: block; font-size: 35px; line-height: 38px; letter-spacing: -0.005em; font-family: "cedarville-cursive-webfont", Arial, sans-serif; }
.carusel__autor { display: inline-block; position: relative; font-size: 20px; line-height: 27px; letter-spacing: -0.005em; margin-top: 15px; font-family: "sourcesanspro-it-webfont", Arial, sans-serif; }
.carusel__autor::before, .carusel__autor:after { content: ""; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); width: 8px; height: 1px; background-color: #fff; z-index: 5; }
.carusel__autor:before { left: -0.8em; }
.carusel__autor:after { right: -0.8em; }

.header { opacity: 0; -webkit-transform: translateY(-50px); -ms-transform: translateY(-50px); -o-transform: translateY(-50px); transform: translateY(-50px); -o-transition: -o-transform 0.5s 0.3s, opacity 0.5s 0.3s; transition: -webkit-transform 0.5s 0.3s, opacity 0.5s 0.3s; transition: transform 0.5s 0.3s, opacity 0.5s 0.3s; }
.header.is_animated { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }

.main, .footer, .title__big, .title__large, .title__big, .footer__text_heading, .villa__heading, .house_desc, .villa, .footer__locate, .footer__text, .footer__copy, .carusel, .tourist__pic, .banner__content { opacity: 0; -webkit-transform: translateY(50px); -ms-transform: translateY(50px); -o-transform: translateY(50px); transform: translateY(50px); -o-transition: -o-transform 0.5s 0.3s, opacity 0.5s 0.3s; transition: -webkit-transform 0.5s 0.3s, opacity 0.5s 0.3s; transition: transform 0.5s 0.3s, opacity 0.5s 0.3s; }
.main.is_animated, .footer.is_animated, .title__big.is_animated, .title__large.is_animated, .is_animated.title__big, .is_animated.footer__text_heading, .is_animated.villa__heading, .house_desc.is_animated, .villa.is_animated, .footer__locate.is_animated, .footer__text.is_animated, .footer__copy.is_animated, .carusel.is_animated, .tourist__pic.is_animated, .banner__content.is_animated { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }

.villa__heading { opacity: 0; -webkit-transform: translateX(-50px); -ms-transform: translateX(-50px); -o-transform: translateX(-50px); transform: translateX(-50px); -o-transition: -o-transform 0.5s 0.3s, opacity 0.5s 0.3s; transition: -webkit-transform 0.5s 0.3s, opacity 0.5s 0.3s; transition: transform 0.5s 0.3s, opacity 0.5s 0.3s; }
.villa__heading.is_animated { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); transform: translateY(0); }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
 *{ -webkit-text-size-adjust: none; } }
@media screen and (max-width: 1000px){
 .wrapper{ padding-left: 12px; padding-right: 12px; }
 .header{ padding-top: 20px; }
 .header__wrapper{ padding-left: 12px; padding-right: 12px; }
 .header__logo{ -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; }
 .header__menu{ -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; }
 .header__lang{ position: absolute; top: 20px; right: 22px; } }
@media screen and (max-width: 960px){
 .wrapper{ padding-left: 15px; padding-right: 15px; }
 .header__wrapper{ padding-left: 15px; padding-right: 15px; } }
@media screen and (max-width: 780px){
 body{ font-size: 18px; line-height: 1.4; }
 .wrapper{ padding-left: 15px; padding-right: 15px; }
 .title__large, .title__big, .footer__text_heading, .villa__heading{ line-height: 1; }
 .title__big{ line-height: 1; }
 .header__wrapper{ padding-left: 15px; padding-right: 15px; }
 .header__toggler{ display: block; position: fixed; top: 20px; right: 20px; width: 50px; height: 40px; }
 .header__toggler:before, .header__toggler:after{ content: ""; position: absolute; left: 0; width: 100%; height: 50%; }
 .header__toggler:before{ top: 0; border-top: 4px solid #000; border-bottom: 2px solid #000; }
 .header__toggler:after{ top: 50%; border-top: 2px solid #000; border-bottom: 4px solid #000; }
 .header__toggler:hover:before, .header__toggler:hover:after{ border-color: #3b8fb0; -o-transition: 0.4s; transition: 0.4s; }
 .header__menu{ display: none; }
 .header__lang{ display: block; width: 100%; top: 100px; right: 0; text-align: center; }
 .header__lang_link{ font-size: 16px; line-height: 1.1; }
 .header__list{ height: 100vh; display: block; }
 .header__list_item{ width: 100vw; position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); text-align: center; }
 .header__list_link{ font-size: 30px; line-height: 1.2; color: #FFF; margin-bottom: 0.5em; }
 .header__bottom{ margin-top: 20px; }
 .header__tree_list{ display: none; }
 .header__contact{ padding: 15px 0 0 0; width: 100%; }
 .header__contact_link{ margin: 0 0 15px 0 !important; display: block; text-align: center; }
 .footer__btn{ width: 100%; }
 .footer__btn:not(:last-child){ margin-right: 0; }
 .house__container{ -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
 .villa{ width: calc(95.83333333333334% - 12px); }
 .villa{ margin-bottom: 60px; }
 .villa{ margin: 0 auto 60px; }
 .villa__figure{ height: 280px; }
 .villa__squre{ font-size: 20px; }
 .villa__btn{ width: 100%; }
 .tourist__pic{ width: calc(41.66666666666667% - 12px); }
 .tourist__pic{ margin: 0 15px 15px; padding-top: 40%; }
 .banner__content{ display: block; zoom: 1; }
 .banner__content:after{ content: " "; display: table; clear: both; }
 .banner__content.mod_bottom{ margin-top: 30px; margin-bottom: 20px; }
 .banner__text.mod_small .baner_desc{ float: left; width: 50%; font-size: 16px; line-height: 18px; }
 .banner__figure{ float: left; width: 40%; }
 .banner__figure img{ max-width: 100%; } }
@media screen and (max-width: 660px){
 .wrapper{ padding-left: 15px; padding-right: 15px; }
 .header__wrapper{ padding-left: 15px; padding-right: 15px; } }
@media screen and (max-width: 400px){
 .header__logo{ display: block; width: 190px; font-size: 14px; } }
