main.main
	.carusel
		.carusel__item
			.carusel__pic
				img(src="static/img/carusel/01.jpg", alt="")
			.carusel__content
				q.carusel__quote Tänne on helppo asettua ja unohtaa <br> hetkeksi muu maailma.
				p.carusel__autor Vieraskirjasta lainattu
		.carusel__item
			.carusel__pic
				img(src="static/img/banner/01.jpg", alt="")
			.carusel__content
				q.carusel__quote Tänne on helppo asettua ja unohtaa <br> hetkeksi muu maailma. Tänne on helppo asettua ja unohtaa
				p.carusel__autor Vieraskirjasta lainattu
		.carusel__item
			.carusel__pic
				img(src="static/img/carusel/01.jpg", alt="")
			.carusel__content
				q.carusel__quote Tänne on helppo asettua ja unohtaa <br> hetkeksi muu maailma.
				p.carusel__autor Vieraskirjasta lainattu
		.carusel__item
			.carusel__pic
				img(src="static/img/banner/01.jpg", alt="")
			.carusel__content
				q.carusel__quote Tänne on helppo asettua ja unohtaa <br> hetkeksi muu maailma. Tänne on helppo asettua ja unohtaa
				p.carusel__autor Vieraskirjasta lainattu
	section.house.mod_details
		.wrapper
			.house__header
				h2.title__large Huilataan välillä. Tervetuloa rennolle mökkilomalle!
				p.house_desc Huvilarannan kolme vuokrahuvilaa kutsuvat rennolle lomalle Keski-Suomeen Multialle. Villa Akuliina, Villa Kukkula ja Villa Kantri tarjoavat laadukkaat puitteet lomailuun puhdasvetisen Isojärven rannalla aidossa maalaismaisemassa. Huvilarannan vuokramökit ovat viihtyisiä, täysin varusteltuja 6 -8 hengen <br> lomamökkejä ja ne ovat käytössä ympäri vuoden.
				strong.see__next Tutustu ja ihastu mökkeihin
					i.fa.fa-angle-down
		.house__container.mod_short
			a(href="").villa
				h5.villa__heading Villa Kukkula
					i.fa.fa-angle-double-right
				figure.villa__figure
					img(src="static/img/villa/01.jpg", alt="villa photo").villa__figure_img
			a(href="").villa
				h5.villa__heading.mod_blue Villa Kukkula
					i.fa.fa-angle-double-right
				figure.villa__figure
					img(src="static/img/villa/02.jpg", alt="villa photo").villa__figure_img
				.villa__comfort
					ul.villa__comfort_list
						li.villa__comfort_item(title='some single text02 here')
							i.fa.fa-wheelchair
						li.villa__comfort_item(title='some single text03 here')
							i.fa.fa-paw
			a(href="").villa
				h5.villa__heading.mod_purpur Villa Kukkula
					i.fa.fa-angle-double-right
				figure.villa__figure
					img(src="static/img/villa/03.jpg", alt="villa photo").villa__figure_img
				.villa__comfort
					ul.villa__comfort_list
						li.villa__comfort_item(title='some single text03 here')
							i.fa.fa-paw
	section.tourist.wrapper
		h5.title__large Huvilarannassa ei aika käy pitkäksi!
		p.tourist_desc Huvilarannassa voi nukkua pitkään, laiskotella laiturilla, samoilla metsässä ja saunoa sydämensä kyllyydestä. <br> Mutta mitä kaikkea muuta Huvilarannassa voi tehdä?
		a(href="").detail_link Tutustu aktiviteettimahdollisuuksiin!
			i.fa.fa-angle-double-right
		.tourist__gallery
			.tourist__pic
				img(src="static/img/tourist/01.jpg", alt="tourist pic")
			.tourist__pic
				img(src="static/img/tourist/02.jpg", alt="tourist pic")
			.tourist__pic
				img(src="static/img/tourist/03.jpg", alt="tourist pic")
			.tourist__pic
				img(src="static/img/tourist/04.jpg", alt="tourist pic")
			.tourist__pic
				img(src="static/img/tourist/05.jpg", alt="tourist pic")
			.tourist__pic
				img(src="static/img/tourist/06.jpg", alt="tourist pic")
	.banner.mod_noHeight
		img(src="static/img/banner/02.jpg", alt="banner").banner__bg
		.wrapper
			.banner__box
				.banner__content
					.banner__text
						h5.title__large.mod_white Markkulan Marjatila
						p.banner_desc Mökkilomallasi voit poiketa ostamassa Markkulan Marjatilan mehuja ja glögiä suoraan tilalta ja kesäaikaan pääset nauttimaan tuoreita mansikoita ja mustaherukoita!
						a(href="").detail_link.mod_green Lue lisää Markkulan Marjatilasta
							i.fa.fa-angle-double-right
				.banner__content.mod_bottom
					figure.banner__figure
						img(src="static/img/banner/goods-01.png", alt="goods")
					.banner__text.mod_small
						h6.banner__title Lahja!
						p.banner_desc Tarjoamme Huvilarantaan saapuville lomalaisille pullollisen Markkulan Marjatilan kylmäpuristettua mustaherukka-mansikkamehua tai talviaikaan lämpimän mausteista mustaherukkaglögiä!




