main.main
	section.house.wrapper
		.house__header
			h2.title__big Huvilat
			p.house_desc Huvilarannan vuokramökit ovat viihtyisiä, täysin varusteltuja 6 -8 hengen <br> lomamökkejä ja ne ovat käytössä ympäri vuoden.
		.house__container
			article.villa
				h5.villa__heading Villa Kukkula
				figure.villa__figure
					img(src="static/img/villa/01.jpg", alt="villa photo").villa__figure_img
				.villa__comfort
					ul.villa__comfort_list
						li.villa__comfort_item(title='some single text01 here')
							i.fa.fa-male
							b 8 hlö
					p.villa__squre 129 m² (4 h + tupakeittiö)
				.villa__text
					p Viihtyisä kahteen kerrokseen rakennettu Villa Kukkula sijaitsee kauniilla kallioisella rinnetontilla, jonka rantaan pääsee portaita pitkin. Villa Kukkulan osittain lasitetulta terassilta voi ihailla järvimaisemaa. <br> Ei lemmikkejä.
					a(href="").villa__btn Lisätiedot ja -kuvat
			article.villa
				h5.villa__heading.mod_blue Villa Kukkula
				figure.villa__figure
					img(src="static/img/villa/02.jpg", alt="villa photo").villa__figure_img
				.villa__comfort
					ul.villa__comfort_list
						li.villa__comfort_item(title='some single text01 here')
							i.fa.fa-male
							b 8 hlö
						li.villa__comfort_item(title='some single text03 here')
							i.fa.fa-paw
						li.villa__comfort_item(title='some single text02 here')
							i.fa.fa-wheelchair
					p.villa__squre 134,5 m² (3 h + tupakeittiö)
				.villa__text
					p Villa Kantri on esteetön, tilava huvila, jonka terassi on rakennettu järvelle päin. Tontilla on matala hiekkaranta suojaisessa poukamassa ja rantaan pääsee helposti myös esim.  pyörätuolin tai lastenvaunujen kanssa. <br> Lemmikit sallittu.
					a(href="").villa__btn Lisätiedot ja -kuvat
			article.villa
				h5.villa__heading.mod_purpur Villa Kukkula
				figure.villa__figure
					img(src="static/img/villa/03.jpg", alt="villa photo").villa__figure_img
				.villa__comfort
					ul.villa__comfort_list
						li.villa__comfort_item(title='some single text01 here')
							i.fa.fa-male
							b 6 + 2 hlö
						li.villa__comfort_item(title='some single text03 here')
							i.fa.fa-paw
					p.villa__squre 107 m²  (4 h + tupakeittiö) <br> + rantasauna 25 m²
				.villa__text
					p Villa Akuliina sijaitsee erityisen kauniilla tontilla kallioseinineen. Villa Akuliinan matalan hiekkarannan läheisyydessä on myös erillinen rantasauna. <br> Lemmikit sallittu.
					a(href="").villa__btn Lisätiedot ja -kuvat
	.wide
		img(src="static/img/wide/01.jpg", alt="wide").wide__bg


