mixin icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="#icon-" + name)

doctype html
html(lang="fi-FI")
  head
    meta(charset="utf-8")
    block title
      title Huvilaranta
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="icon" type="image/png" href="img/favicon.png")

    script.
        console.time && console.time('fontLoading');
    script.
        function loadFont(a, b, c) {
            (function d() {
                if (!window.FontFace) return !1;
                var a = new FontFace("t", 'url("data:application/font-woff2,") format("woff2")', {});
                a.load();
                return a.status === "loading";
            })(this);

            var e = navigator.userAgent,
                f = !window.addEventListener || e.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/) && !e.match(/Chrome/);
            if (!f) {
                var g = {};
                try {
                    g = localStorage || {}
                } catch (h) {}

                var i = "x-font-" + a,
                    j = i + "url",
                    k = i + "css",
                    l = g[j],
                    m = g[k],
                    n = document.createElement("style");
                if (n.rel = "stylesheet", document.head.appendChild(n), !m || l !== b && l !== c) {
                    var o = c && d() ? c : b,
                        p = new XMLHttpRequest;
                    p.open("GET", o), p.onload = function() {
                        p.status >= 200 && p.status < 400 && (g[j] = o, g[k] = n.textContent = p.responseText)
                    }, p.send()
                } else n.textContent = m
            }
         }

    script.
        loadFont('opensans-regular', '/static/font/stylesheet.woff.css', '/static/font/stylesheet.woff2.css')
        loadFont('opensans-light', '/static/font/stylesheet.woff.css', '/static/font/stylesheet.woff2.css')
        loadFont('opensans-bold', '/static/font/stylesheet.woff.css', '/static/font/stylesheet.woff2.css')
        loadFont('opensans-semibold', '/static/font/stylesheet.woff.css', '/static/font/stylesheet.woff2.css')
        loadFont('opensans-italic', '/static/font/stylesheet.woff.css', '/static/font/stylesheet.woff2.css')
        loadFont('quattrocentosans-regular.woff', '/static/font/stylesheet.woff.css', '/static/font/stylesheet.woff2.css')
        loadFont('fontawesome-webfont.woff', '/static/css/font-awesome.min.css', '/static/css/font-awesome.min.css')
    script.
        console.timeEnd && console.timeEnd('fontLoading');


    link(rel="stylesheet" media="all" href="static/css/font-awesome.min.css")
    //- link(rel="stylesheet" media="all" href="static/css/smart-grid.css")
    link(rel="stylesheet" media="all" href="static/css/style.css")


  body
    //BEGIN out
    block content
    //END out
    script(src="static/js/libs.min.js")
    //- script(src="static/js/lib/slick.min.js")
    //- //- script(src="static/js/lib/ScrollMagic.min.js")
    //- script(src="static/js/global.js")
    //- //- script(src="static/js/animations.js")
    //- //- script(src="static/js/init-animations.js")
    //- script(src="static/js/init-global.js")